@model StudentSingleModel.Models.Student

@{
    ViewBag.Title = "Student Registration";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Create", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DateOfBirth)
        @Html.TextBoxFor(model => model.DateOfBirth, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
        @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Gender)
        <div>
            @Html.RadioButtonFor(model => model.Gender, "Male", new { @class = "form-check-input" })
            @Html.LabelFor(model => model.Gender, "Male", new { @class = "form-check-label" })
            @Html.RadioButtonFor(model => model.Gender, "Female", new { @class = "form-check-input" })
            @Html.LabelFor(model => model.Gender, "Female", new { @class = "form-check-label" })
        </div>
        @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <label>Hobbies</label>
        <div>
            <label>
                <input type="checkbox" name="Hobbies" value="Reading" />
                Reading
            </label><br />
            <label>
                <input type="checkbox" name="Hobbies" value="Traveling" />
                Traveling
            </label><br />
            <label>
                <input type="checkbox" name="Hobbies" value="Playing" />
                Playing
            </label><br />
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ProfilePicFile)
        @Html.TextBoxFor(model => model.ProfilePicFile, new { @class = "form-control", type = "file" })
        @Html.ValidationMessageFor(model => model.ProfilePicFile, "", new { @class = "text-danger" })
    </div>

    <button type="submit" class="btn btn-primary">Register</button>
}
